{% include 'base.html' %}

{% block content %}
<br><br><br>
    {% for obj in object_list %}
        <div class="row">


                <div class="col-sm-6">
                        <div class="row">
                            <div class="card shadow-lg" style="width: 600px; margin-left: 50px;">
                                <img src="{% if obj.image %} {{obj.image.url}} {% else %} # {% endif %}" class="card-img-top" alt="...">
                                <div class="card-body text-left">
                                    <h3 class="card-title">{{obj.title}}</h3>
                                    <p class="card-text">Content:<p> {{obj.content}}</p></p>
                                    <hr>
                                    <div class="tags">
                                        {% for tag in obj.tags.names %}
                                            <a href="/ketab/search/?tag={{tag}}" class="badge badge-success">{{tag}}</a>
                                        {% endfor %}
                                        <hr>

                                        Posted by: {{obj.user.first_name|title}} {{obj.user.last_name|title}}
                                    </div>
                                    <a href="{{obj.get_absolute_url}}" class="btn btn-primary">View Post</a>
                                </div>
                            </div>
                        </div>
                </div>


        </div>
        <br>
    {% endfor %}

    <div class="col" >
        <div class="pagination" style="padding-left: 150px;">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>

    </div>

{% endblock content %}